
        <div class="ui visible black message">
                <div class="ui center aligned container">
                        <h4 class="ui header inverted">DevRoy apps if you want more please let me know :)</h4> 
                        GitHub <a href="https://github.com/roycloud/c9-DevRoy"><i class="github icon"></i></a>
                </div>
        </div>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
            <script type="text/javascript" src="/scripts/app.js"></script>
        </body>
</html>