<!DOCTYPE html>
<html>
    <head>
        <title>Apps</title>
    </head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/app.css">
    <body>
        
        <div class="ui top fixed inverted menu">
          <div class="item">
            <img src="/images/clockwork-icon.png">
          </div>
              <a class="item" href="/">DevRoy</a>
              <div class="right menu">
                  <!--<a class="item">Login</a>-->
                  <% if(!currentUser){ %>
                  <a class="item ui black label" href="/login"><i class="sign in icon _head"></i> Login</a>
                  <a class="item ui green label" href="/register"><i class="add user icon _head"></i> Sign-in</a>
                  <% }else{ %>
                  <a class="item ui green label"><i class="star icon _head"></i> Signed In as <%=currentUser.username%></a>
                  <a class="item ui black label" href="/logout"><i class="sign out icon _head"></i> Logout</a>
                  <% } %>
              </div>
        </div>
        <div class="ui center aligned container">