<% include ../partials/header %>

<div class="ui text container">
  <h1 class="ui header">
      <img src="/images/clockwork-icon.png" class="ui image">
      DevRoy Apps
  </h1>
  <div class="ui middle aligned selection list">
    <div class="item">
      <div class="content">
        <div class="header"><a class="ui black label" href="/todoapp"><i class="write square icon"></i>Todo App</a></div>
      </div>
    <div class="item">
      <div class="content">
        <div class="header"><a class="ui black label" href="/"><i class="puzzle icon"></i>Another App</a></div>
      </div>
    </div>
</div>
<% include ../partials/footer %>