<% include ../partials/header %>

<div class="main ui container">
  <div class="ui text center aligned container">
    <h1 class="ui header">
        <img src="/images/clockwork-icon.png" class="ui image">
        DevRoy Apps
    </h1>
    <div class="ui selection list">
      <div class="item">
        <div class="content">
          <div class="header">
            <a class="ui massive black label" href="/todoapp">
            <i class="write square icon"></i>
            Todo
            </a>
          </div>
        </div>
      </div>
        <div class="item">
          <div class="content">
            <div class="header">
              <a id="access-chat" class="ui massive black label" href="/webchat">
                <i class="talk icon"></i>
                Web Chat
                </a>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="content">
            <div class="header">
              <a class="ui massive black label" href="/another">
                <i class="puzzle icon"></i>
                Another
                </a>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

<% include ../partials/footer %>