<% include ../partials/header %>

<div class="log-box">
    
        <form class="ui big form attached segment" action="/login" method="POST">
                <div class="field">
                  <label>Username</label>
                  <input name="username" placeholder="Username" type="text">
                </div>
                <div class="field">
                  <label>Password</label>
                  <input name="password" placeholder="Password" type="password">
                </div>
              <button class="ui black submit huge fluid button">Login</button>
            <div class="ui error message"></div>
        </form>
        <div class="ui bottom attached warning message">
          <i class="add user icon"></i>
          New member? <a href="/register">Sign-in here</a>
        </div>
 </div> 
<% include ../partials/footer %>