<% include ../partials/header %>

<div class="log-box">

    <form class="ui big form attached segment" action="/register" method="POST">
            <div class="field">
              <label>Username</label>
              <div class="ui left icon input">
                <input name="username" type="text">
                <i class="user icon"></i>
              </div>
            </div>
            <div class="field">
              <label>Password</label>
              <div class="ui left icon input">
                <input name="password" type="password">
                <i class="lock icon"></i>
              </div>
            </div>
            <div class="field">
              <label>Repeat Password</label>
              <div class="ui left icon input">
                <input name="match" placeholder="Repeat Password" type="password">
                <i class="lock icon"></i>
              </div>
            </div>
          <button class="ui green submit huge fluid button">Sign Up</button>
        <div class="ui error message"></div>
    </form>
    <div class="ui bottom attached warning message">
          <i class="sign in icon"></i>
          Already signed up? <a href="/login">Login</a> instead.
    </div>
</div>
<% include ../partials/footer %>