<% include ../partials/header %>

<div class="log-box">

    <form class="ui big form attached segment" action="/register" method="POST">
            <div class="field">
              <label>Username</label>
              <input name="username" placeholder="Username" type="text">
            </div>
            <div class="field">
              <label>Password</label>
              <input name="password" placeholder="Password" type="password">
            </div>
            <div class="field">
              <label>Repeat Password</label>
              <input name="match" placeholder="Repeat Password" type="password">
            </div>
          <button class="ui green submit huge fluid button">Sign Up</button>
        <div class="ui error message"></div>
    </form>
    <div class="ui bottom attached warning message">
          <i class="sign in icon"></i>
          Already signed up? <a href="/login">Login</a> instead.
    </div>
</div>
<% include ../partials/footer %>