<% include ../partials/header %>
<h1>Register page</h1>

<div>
    <form action="/register" method="POST">
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <input type="submit" value="Register">
    </form>
    <a href="/">Back</a>
</div>
<% include ../partials/footer %>