<% include ../partials/header %>
<div class="main ui container">
    <div class="ui text container">
        <h1 class="ui header">
            <i class="write square icon"></i>
            Simple ToDo
        </h1>
        <form action="/todoapp" method="POST">
            <div class="ui big form">
              <div class="ui fluid action input">
                  <input placeholder="New Todo" type="text" name="newTodo">
                  <button class="ui green submit button">Add</button>
              </div>
            </div>
        </form>
            
            <!--TODO FORM V1.1-->
            
        <div class="ui left aligned container">
            <div class="ui big comments">
              <div class="comment">
                <div class="content">
                  
                  <% for (var i=arrTodo.length-1; i>=0; i--){%>
                  <% if(arrTodo[i].user == currentUser.username) {%>
                        <form class="todo-form" action="/todoapp/<%=arrTodo[i]._id%>?_method=DELETE" method="POST">
                          <div class="text"><%=arrTodo[i].text%></div>
                          <div class="actions">
                            <span>Options:</span>
                            <button class="delete-todo" type="submit">
                              <i class="trash icon"></i><div class="ui popup hidden"></div>
                            </button>
                          </div>
                         </form>
                    <% } %>
                    <% } %>
                </div>
              </div>
            </div>
        </div>
    </div> 
</div>


<% include ../partials/footer %>