<% include ../partials/header %>
<h1 class="ui header">
    <i class="write square icon"></i>
    ToDo App
</h1>
<form action="/todoapp" method="POST">
    <div class="ui big form">
      <div class="field">
          <label>Add New Todo</label>
          <input placeholder="New Todo" type="text" name="newTodo">
      </div>
          <button class="ui green submit button">Add</button>
    </div>
    <input id="user-todoapp" type="text" name="username" value="<%=currentUser.username %>">
</form>

    <div class="ui segment">                        
            <% arrTodo.forEach(function(todos){ %>
                <% if(todos.user == currentUser.username) {%>
                    <form class="todo-form" action="/todoapp/<%=todos._id%>?_method=DELETE" method="POST">
                        <div class="ui middle aligned divided list">  
                          <div class="item">
                              <div class="right floated content">
                                  <button class="ui red button"><i class="trash icon"></i></button>
                              </div>
                              <div class="content"><%=todos.text%></div>
                          </div>
                        </div>
                    </form>
                <% } %>
            <% }); %>
    </div>
<% include ../partials/footer %>