<% include ../partials/header %>

<div class="ui container messages">
    
    <div class="ui segments">
        <div class="ui grid">
                <div id="chat-showHide" class="ui ten wide column">
                    <div class="ui top attached inverted segment">
                        <h2 class="ui inverted center aligned header">
                            <div class="content">
                                <i class="chat icon"></i>Chat
                            </div>
                        </h2>
                    </div>
                    <div class="chat-content">
                    <ul id="messages"></ul>
                    </div>
                </div>
                <div class="ui six wide column">
                    <div class="ui top attached inverted segment">
                        <h2 class="ui inverted center aligned header">
                            <div class="content">
                            <i class="users icon"></i>Online Users
                            </div>
                        </h2>
                    </div>
                    <div class="chat-content">
                    <ul id="users"></ul>
                    </div>
                </div>
        </div>
    </div> 
    <div class="ui bottom inverted attached segment">
        <form class="ui form" id="chat-form">
            <div class="ui fluid action input">
                <input id="m" type="text" placeholder="Message" autocomplete="off">
                <button class="ui blue button">Send</button>
                <span class="show-users"><i class="users icon"></i></span>
            </div>
        </form>
    </div>
</div>

<div class="ui mini basic modal">
    <div class="content ui fluid input">
        <div class="actions">
            <form class="ui form" action="" onsubmit="return false;">
                <input type="text" autocomplete="off" id="chat-name" placeholder="Name">
                <button id="chat-name-add" class="ui blue button approve close" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>

<% include ../partials/footer %>