body{
    background-color: #1B1C1D;
}
.main.ui.center.aligned.container{
    padding-top: 80px;
    background-color: white;
    padding-bottom: 80px;
}
h1.ui.header{
    font-size: 4em;
    margin-bottom: 50px;
}
div .item img{
    background-color: white;
}
i._head{
    font-size: 2em;
}
div.header a.ui.black.label{
    font-size: 2em;
    margin-bottom: 10px;
}
#user-todoapp{
    display:none;
}
.ui.red.button.delete-b{
   width: 24px;
   padding: 5px;
   margin: 0;
   font-size: 1.2em;
   display: none;
}
.todo-form{
    margin: 10px 0;
}
div.ui.top.menu.inverted{
    margin: 0;
}
.none-menu{
   display: none; 
}
.actions span{
    opacity: 0.3;
    font-size: 0.8em;
}
.actions button{
    background-color: white;
    border: none;
    color: gray;
}
.actions button:hover{
    color: black;
}