body{
    background-color: #1B1C1D;
}
.container{
    padding-top: 100px;
    background-color: white;
    height: 100%;
}
h1.ui.header{
    font-size: 4em;
    margin-bottom: 50px;
}
div .item img{
    background-color: white;
}
i._head{
    font-size: 2em;
}
div.header a.ui.black.label{
    font-size: 2em;
    margin-bottom: 10px;
}
#user-todoapp{
    display:none;
}
.ui.red.button.delete-b{
   width: 24px;
   padding: 5px;
   margin: 0;
   font-size: 1.2em;
   display: none;
}
.todo-form{
    margin: 10px 0;
}
.content-container{
    width: 80%;
    margin: 0 auto;
}